.tribute-container {
    position: relative;
    height: auto;
    overflow: auto;
    display: block;
    z-index: 999999;
}
.tribute-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    background: #efefef;
}
.tribute-container li {
    padding: 5px 5px;
    cursor: pointer;
    width: inherit;
}